#inspector {
    width: 240px;
    height: 100%;
    background-color: rgb(121, 121, 121);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    & #inspector-handle{
        width: 8px;
        height: 100%;
        transform: translate(-50%, 0);
        position: absolute;
        left: 0;
        top: 0;
    }

    & .inspector-content {
        width: 100%;
        
        & .inspector-line-group {
            display: flex;
            flex-direction: row;
            gap: 8px;
            height: 32px;
            align-items: center;
        }
    }
}

input[type="number"] {
    width: 100%;
    border: 0;
    outline: none;
   
}